


<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--chevron-left-->
    <p class="navbar-text pull-left">
      <a routerLink= "/user/:uid/website/:wid/page" class="pull-left navbar-text">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>


    <div class="navbar-header pull-left">
      <a class="navbar-brand thick">
        Widgets
      </a>

    </div>
    <!--plus-->
    <p class="navbar-text pull-right">
      <a routerLink="/user/:uid/website/:wid/page/:pid/widget/new" class="pull-right navbar-text">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>

  </div>
</nav>

<div *ngFor="let widget of widgets">
  <div [ngSwitch]="widget.widgetType">

<div class="jga-widget" *ngSwitchCase="'HEADING'">
        <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
        <a routerLink="/user/:uid/website/:wid/page/:pid/widget/:wgid/widget-header">
          <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
        <h2>{{widget.text}}</h2>
  </div>


    <div class="jga-widget" *ngSwitchCase="'IMAGE'">
      <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
          <a routerLink="/user/:uid/website/:wid/page/:pid/widget/:wgid/widget-image">
            <span class="glyphicon glyphicon-cog pull-right"></span>
            <img class="jpa-content" [src]="widget.url"/>
          </a>
    </div>

    <div class="jga-widget" *ngSwitchCase="'HTML'">
            <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
            <span class="glyphicon glyphicon-cog pull-right"></span>
            {{widget.text}}
    </div>

    <div class="jga-widget" *ngSwitchCase="'YOUTUBE'">
      <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
          <a routerLink="/user/:uid/website/:wid/page/:pid/widget/:wgid">
            <span class="glyphicon glyphicon-cog pull-right"></span></a>
            <iframe width="600" height="400" [src]='sanitizer.bypassSecurityTrustResourceUrl(widget.url)' frameborder="0" allowfullscreen></iframe>
    </div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom light-brand">
  <div class="container-fluid">
    <div class="navbar-header width-100">
      <a class="navbar-brand pull-left">
        <span class="glyphicon glyphicon-play black-color"></span>
      </a >
      <a class="navbar-brand">
        <span class="glyphicon glyphicon-eye-open black-color"></span>
      </a >
      <p class="navbar-text pull-right">
        <a routerLink = "/user/:uid">
          <span class="glyphicon glyphicon-user"></span>
        </a>
      </p >
    </div>
  </div>
</nav>



</div>
</div>
</body>
