<!DOCTYPE html>
<html lang="en" style="height: 100%;overflow: hidden;">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet"
        href="../../vendors/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../../css/styles.css"/>
  <script src="../../vendors/bootstrap/dist/js/bootstrap.min.js">
  </script>
  <title>Title</title>
</head>

<body style="height: 100%;">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--chevron-left-->
    <p class="navbar-text pull-left">
      <a href="widget-list.html" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>



    <div class="navbar-header">
      <a class="navbar-brand thick">
        Choose Widget
      </a>
    </div>


  </div>
</nav>


</li>
<li class="list-group-item">
  <div class="row">
    <a href = "widget-heading.html">
    <div class="col-xs-6 col-sm-3 color-blue ">Header </div>
    <div class="col-xs-9">
      <a href="website-edit.html" class="pull-right">

      </a>
    </div>
  </div>
</li>
</li>

<li class="list-group-item">
  <div class="row">
    <div class="col-xs-6 col-sm-3 color-blue">Label</div>
    <div class="col-xs-9">
      <a href="widget-heading.html" class="pull-right">
      </a>
    </div>
  </div>
</li>


</li>
<li class="list-group-item">
  <div class="row">
    <div class="col-xs-6 col-sm-3 color-blue">HTML </div>
    <div class="col-xs-9">
      <a href="website-edit.html" class="pull-right">
      </a>
    </div>
  </div>
</li>


</li>
<li class="list-group-item">
  <div class="row">
    <div class="col-xs-6 col-sm-3 color-blue">Text Input </div>
    <div class="col-xs-9">
      <a href="website-edit.html" class="pull-right">
      </a>
    </div>
  </div>
</li>


</li>
<li class="list-group-item">
  <div class="row">
    <div class="col-xs-6 col-sm-3 color-blue">Link</div>
    <div class="col-xs-9">
      <a href="website-edit.html" class="pull-right">
      </a>
    </div>
  </div>
</li>

</li>
<li class="list-group-item">
  <div class="row">
    <div class="col-xs-6 col-sm-3 color-blue">Button</div>
    <div class="col-xs-9">
      <a href="website-edit.html" class="pull-right">
      </a>
    </div>
  </div>
</li>

</li>
<li class="list-group-item">
  <div class="row">
    <a href = "widget-image.html">
    <div class="col-xs-6 col-sm-3 color-blue">Image</div>
    <div class="col-xs-9">
      <a href="website-edit.html" class="pull-right">
      </a>
    </div>
  </div>
</li>

</li>
<li class="list-group-item">
  <div class="row">
    <a href = "widget-youtube.html">
    <div class="col-xs-6 col-sm-3 color-blue">YouTube</div>
    <div class="col-xs-9">
      <a href="website-edit.html" class="pull-right">
      </a>
    </div>
  </div>
</li>

</li>
<li class="list-group-item">
  <div class="row">
    <div class="col-xs-6 col-sm-3 color-blue">Data Table</div>
    <div class="col-xs-9">
      <a href="website-edit.html" class="pull-right">
      </a>
    </div>
  </div>
</li>

</li>
<li class="list-group-item">
  <div class="row">
    <div class="col-xs-6 col-sm-3 color-blue">Reapeater</div>
    <div class="col-xs-9">
      <a href="website-edit.html" class="pull-right">
      </a>
    </div>
  </div>
</li>
</ul>
</div>
<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
</body>
</html>
